sudo: required
dist: trusty
os:
  - linux
  - osx
cache:
  directories:
    - node_modules
notifications:
  email: false
language: node_js
node_js:
  - 8
  - 7
  - 6
install:
  - npm install
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
before_script:
  - npm prune
script:
  - npm run build
after_success:
  - npm run semantic-release
before_install:
  # Need Bash 4.3 - globs don't follow symlinks
  - bash --version
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install bash; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then /usr/local/bin/bash --version; fi
