
platform:
  - x64

environment:
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "7"
    - nodejs_version: "6"

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install

test_script:
  # Need Bash 4.3 - globs don't follow symlinks
  - bash --version
  - node --version
  - npm --version
  # run tests
  - npm test

build: off
